@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-family: "Cabin", sans-serif;
}

.full-height {
  min-height: 100svh;
}

body {
  @apply dark:bg-zinc-800 dark:text-neutral-50 bg-neutral-100 text-neutral-700;
  min-height: 100svh;
}

label {
  @apply dark:text-zinc-400 my-1;
}

label span {
  @apply ml-0.5;
}

label i {
  @apply mr-2;
}

input {
  @apply dark:bg-zinc-700 rounded text-lg p-2 border border-neutral-300 dark:text-neutral-50;
}

input.invalid {
  @apply border-red-500 dark:border-red-600;
}

button {
  @apply rounded p-3 font-bold text-white ease-in duration-150 disabled:bg-neutral-500 disabled:text-neutral-300 disabled:cursor-not-allowed;
}

button.teal-btn:enabled {
  @apply bg-teal-600 hover:bg-teal-500 hover:dark:bg-neutral-50 hover:dark:text-teal-600;
}

.hyperlink {
  @apply font-bold underline text-teal-600 hover:text-teal-400 ease-in duration-200;
}
